body, html {
	margin:0;
}

body {
	background-color: #D0F0EF;
	color:#474747;
	font-size: 18px;
	font-weight: 300;
	font-family: 'Lato', sans-serif;
	position: relative;
}

/* Fonts */
h1,h2,h3,h4,h5,strong {
	font-weight: 900;
	margin:0;
}

h1 {
	font-size: 40px;
}

h2 {
	font-size: 30px;
	padding-bottom: 13px;
}

h3 {
	font-size: 18px;
}

h4 {
	font-size: 16px;
}

p {
	padding-bottom: 8px;
	margin:0;
}

a {
	text-decoration: none;
}

blockquote {
	font-size: 45px;
	text-align: center;
	margin:40px 0;
}

 ol {
	list-style: none;
	counter-reset: item;
 }

ol li {
	margin-bottom: 30px;
	counter-increment: item;
 }

 ol li:before {
	margin-left: -42px;
    content: counter(item);
    background: #FFCC4B;
    font-weight: 900;
    border-radius: 100%;
    width: 36px;
    height: 36px;
    padding-top: 15px;
    font-size: 23px;
    line-height: 9px;
    text-align: center;
    display: inline-block;
 }

.block-highlight,
button {
	background-color:#FFCC4B;
	color:#474747;
	font-weight: 900;
	padding: 8px 20px;
	margin-top:0;
	position: relative;
	margin-bottom: 16px;
	cursor: pointer;
}

.block-highlight:before,
button:before {
	content:"";
	width:16px;
	height: 16px;
	background-color:#FFCC4B;
	position: absolute;
	display: block;
	bottom:-8px;
	right: -8px;
}

.block-highlight:after,
button:after {
	content:"";
	width:8px;
	height: 8px;
	background-color:#FFCC4B;
	position: absolute;
	display: block;
	bottom:-12px;
	left: 0;
}

/* Color Classes */

.light-bg {
	background-color: #E1F5F4;
}

/*--------------------*/
/* Secondary Template */
/*--------------------*/

.secondary-template header {
	height:400px;
}

.full-width {
	padding-top: 30px;
	padding-bottom: 30px;
	margin-top:20px;
	margin-bottom: 20px;
	width: 100vw;
    margin-left: 50%;
    transform: translateX(-50%);
}

/*-----------------------*/
/* Page Specific Styling */
/*-----------------------*/

/* Podcast Alley */

.podcast-alley header .container {
	background-image: url('../img/podcast-hero.svg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

@media (max-width: 768px) {
	.podcast-alley header .container {
		margin-right: -15px;
		margin-left: -15px;
	}
}

.podcast-alley .heading-cloud-wrapper {
	background-image: url(../img/podcast-hero-cloud.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
    height: 400px;
    position: relative;
}

.podcast-alley .heading-cloud-wrapper:after {
	content:'';
	background-image: url(../img/cloud-highlight.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
	height:100px;
	width:33%;
	bottom:80px;
    position: absolute;
}

.podcast-alley .vimeo-embed {
	display: block;
	margin:30px auto;
	max-width: 100%;
}

.podcast-alley h1 {
	background-image: url('../img/h1-cloud-highlight.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	display: block;
	padding:20px 60px 30px 190px;
	position: absolute;
	right: 60px;
	bottom:20px;
	z-index: 1000;
	margin-left:-190px;
}

.podcast-alley h2 {
	background-color: #FFD255;
	padding:10px 8px 0 20px;
	display:table;
	margin-bottom: 30px;
	position: relative;
}

.podcast-alley h2:before {
	content: '';
	background-color: #FFD255;
	width:20px;
	height:30px;
	position: absolute;
	right:-25px;
	bottom: -15px;
}

.podcast-alley h2:after {
	content: '';
    background-color: #FFD255;
    width: 22px;
    height: 28px;
    position: absolute;
    left: -13px;
    top: -8px;
}

.podcast-alley section {
	margin-bottom:40px;
	margin-top:40px;
	padding-top:60px;
	padding-bottom: 60px;
	position: relative;
}

.podcast-alley .podcast-bug {
	height:40px;
	width: auto;
	float:right;
}

.podcast-alley .audio-quote{
	padding:0 40px;
}

.podcast-alley .audio-quote button {
	margin: 0 auto;
    display: table;
    margin-bottom: 30px;
}

.podcast-alley .audio-block {
	margin:20px auto;
	display: table;
}

.in-podcast-wrapper {
	background-image: url('../img/in-podcast-bg.svg');
	background-repeat: no-repeat;
	background-size: cover;
}

.in-podcast-wrapper img {
	width:200px;
	height: auto;
	display: block;
	margin: 0 auto;
}

.podcast-alley .lg-link {
	text-align: center;
	font-weight: 900;
	font-size: 30px;
	color:#474747;
	display: block;
	padding:20px;
}

.podcast-alley .lg-link:hover,
.podcast-alley .lg-link:focus,
.podcast-alley .lg-link:active { 
	text-decoration: none;
	color:#474747;
}

#create-own {
	margin-bottom: 0;
	padding-bottom: 0;
}

#create-own .full-width {
	margin-bottom: 0;
}

.podcast-guide {
	height:600px;
	max-height: 80vh;
	width: auto;
	display: block;
	margin:40px auto;
}

.podcast-alley .dark-bg {
	background-color: #8E9E9E;
}

.headshot-bg {
	background-color:#FFD255;
	text-align: center;
	background-image: url('../img/headshot-bottom-bg.svg');
	background-position: bottom;
	background-size: contain;
	background-repeat: no-repeat;
	padding:30px 20px 10px 20px;
}

.headshot-bg img {
	width: 75%;
	height:auto;
	display: block;
	margin:15px auto;
}

footer {
	background-color:#FFD255;
	padding-bottom:10px;
	text-align: center;
	margin-top: 60px;
	margin-left: -15px;
    margin-right: -15px;
}

footer .row  div {
	font-size: 20px;
	font-weight: 900;
}

footer .copyright {
	text-align: center;
	padding-top: 40px;
}
