/* Digital Zone Animation page specific styling */
body > svg {
	pointer-events: none;
	width: 100%;
	height: auto !important;
	z-index: 3000;
}

/* center marker */
/*body:after {
	content: "";
	background-color: red;
	height:10px;
	width:10px;
	position: absolute;
	top:50%;
	margin-top:-5px;
	left:50%;
	margin-left: -5px;
	border-radius: 10px;
}*/
/* All three background layers */
/* zoomed out: 1920 x 1080 */

.bg-wrapper,
.bg-island,
.wrapper {
	background-size: 1920px 1080px;
	background-position: center;
	background-size: cover;
}

body {
	position: relative;
	overflow:hidden;
	display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
	background-image: url('../img/bg-water.svg');
	background-position: center; 
	background-size: cover;
}


body:after {
	background-image: url('../img/bg-pixels.svg');
	background-size: 1920px 1080px;
	background-position: center;
	background-size: cover;
	content:"";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: .3;
	z-index: -1;
}

svg * {
   	font-family: 'Lato', sans-serif;
}

#cloud-1 {
	background-image: url("../img/cloud-left.svg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: left;
	position: absolute;
	right:0;
	top:0;
	left:0;
	height: 100%;
	pointer-events: none;
	opacity: 1;
	z-index: 1000;
}

#cloud-1.reveal {
	background-position-x: -400vw; /*for safari*/
	background-position: -400vw;
	opacity:1;
	transition: all ease-in 2s;
}

#cloud-2 {
	background-image: url("../img/cloud-right.svg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right;
	position: absolute;
	right:0;
	top:0;
	left:0;
	height: 100%;
	pointer-events: none;
	opacity: 1;
	z-index: 1000;
}

#cloud-2.reveal {
	background-position-x: 400vw; /*for safari*/
	background-position: 400vw;
	opacity:1;
	transition: all ease-in 2s;
}

#cloud-1.hidden, #cloud-2.hidden {
	display: none;
}

#loading {
	width:150px;
	height: 150px;
	position: fixed;
	left: 50%;
	top: 50%;
	margin-top: -75px;
	margin-left: -75px;
	z-index: 1001;
}

#loading.hidden {
	display:none;
}

#wrapper {	
	position: absolute;
	flex-shrink: 0;
    align-self: center;
    width:1920px;
    height:1080px;
    transform-origin: center;
}

#wrapper { /* zoom is controlled on the #scroll-path div */
	transform:scale(1) translateY(0);
	transition: transform ease .75s;
}

#wrapper.zoom {
	transform:scale(.5);
	transition: transform ease-out .75s;
}

#wrapper div {
	transition: height width ease 4s;
}

#island,
#zone-anim,
#water-anim {
	background-repeat: no-repeat;
}

#zone-anim svg,
#water-anim svg {
	position: absolute;
}

/*.wrapper {
	position: relative;
}*/

#island {
	background-image: url('../img/bg-island.svg');
}

#trees {
	background-image: url('../img/trees.svg');
}

#path-around {
	background-image: url('../img/path-around.svg');
}

#path-above {
	background-image: url('../img/path-above.svg');
}

#zone-anim, #water-anim {
	position: absolute;
    
}

#wrapper > div {
	position: absolute;
	pointer-events: none;
	width:100%;
	height:100%;
} 

/*------------*/
/* Navigation */
/*------------*/

#compass {
	height:200px;
	width:200px;
	border-radius: 200px;
	background-image: url("../img/compass-bg.svg");
	background-size: 200px 200px;
	background-position: center;
	position: fixed;
	right:30px;
	bottom:30px;
}

#compass.back * {
	cursor: pointer;
	font-family: 'Lato', sans-serif;
	font-weight: 900;
}

#compass:after {
	content:"";
	height:200px;
	width:200px;
	display: block;
	position: absolute;
	left:0;
	background-image: url("../img/compass-arrow.svg");
	background-size: 200px 200px;
	background-position: center;
	transform:rotate(30deg);
	transition: transform 1s ease-out;
}

#compass.spin:after {
	transform:rotate(1440deg);
	transition: transform 2s ease-out;
}

#compass:before {
	content:"";
	height:200px;
	width:200px;
	display: block;
	position: absolute;
	cursor: pointer;
	left:0;
	opacity:0;
	content: url("../img/compass-back-btn.svg");
	background-size: 200px 200px;
	background-position: center;
	z-index: 10000;
}

#compass.back:before {
	opacity:1;
}

/*----------------------*/
/* Zone Content Overlay */
/*----------------------*/

.info-wrapper button {
	position: fixed;
    top:auto;
    bottom:13px;
    left: 50%;
    font-size: 30px;
    margin-left: -69px;
}


.info-wrapper button,
.info-wrapper button:after,
.info-wrapper button:before {
	box-shadow: 5px 5px 0 #7F5F5D;
}

.info-wrapper > div {
	display: block;
    position: fixed;
    text-align: left;
    bottom: 50px;
    left: 0;
    right: 0;
    padding: 30px 260px;
    background-color: #fff;
    border-bottom: 6px solid #FFD255;
    opacity:1;
	transition:opacity ease .5s;
	font-size: 28px
}

.info-wrapper > div:after {
	content: "";
    display: block;
    background-image: url(../img/cloud-decoration.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 80px;
    width: 130px;
    position: absolute;
    top: -20px;
    left: 20px;
}

.info-wrapper > div:before {
	content: "";
    display: block;
    background-image: url(../img/cloud-decoration.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 80px;
    width: 130px;
    position: absolute;
    bottom: -20px;
    right: 180px;
    transform: rotate(180deg);
}

.info-wrapper > div.hidden {
	display: none;
	opacity:0;
	transition:opacity ease .5s;
}

/*Hover controls*/

#qr-yoda{
	opacity:0;
	transition: opacity .2s ease;
	pointer-events: auto !important;
}

#qr-yoda:hover {
	opacity:1;
	transition: opacity .2s ease;
}

#wrapper .active-zone > svg > g {
	pointer-events: auto;
	cursor: pointer;
}

#wrapper.zoomed-in .active-zone > svg > g {
	pointer-events: none;
}

.active-zone > svg > g #PodcastAlley-Halo, .zoomed-in .active-zone > svg > g:hover #PodcastAlley-Halo,
.active-zone > svg > g #airship-halo, .zoomed-in .active-zone > svg > g:hover #airship-halo,
.active-zone > svg > g #qr-halo, .zoomed-in .active-zone > svg > g:hover #qr-halo,
.active-zone > svg > g #lighthouse-halo, .zoomed-in .active-zone > svg > g:hover #lighthouse-halo  {
	opacity:0;
	transition: opacity .2s ease;
}

.active-zone > svg > g:hover #PodcastAlley-Halo,
.active-zone > svg > g:hover #airship-halo,
.active-zone > svg > g:hover #qr-halo,
.active-zone > svg > g:hover #lighthouse-halo {
	opacity:1;
	transition: opacity .2s ease;
}

#ie-notice {
	position: fixed;
    top: 0;
    padding: 6px;
    color: #fff;
    background-color: #F15723;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 14px;
    display: none;
}


@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	#ie-notice {
		display:block;
	}
}

#play-mute {
	position: fixed;
	cursor: pointer;
	bottom:192px;
	right:35px;
	height:30px;
	width:30px;
	background-repeat: no-repeat;
	background-size: contain;
	z-index: 100;
	background-image: url('../img/mute.svg');
}

#play-mute.play {
	background-image: url('../img/play.svg');
}