/* Digital Zone Animation page specific styling */

body > svg {
	pointer-events: none;
	width: 100%;
	height: auto !important;
	z-index: 3000;
}

/* center marker */
body:after {
	content: "";
	background-color: red;
	height:10px;
	width:10px;
	position: absolute;
	top:50%;
	margin-top:-5px;
	left:50%;
	margin-left: -5px;
	border-radius: 10px;
}
/* All three background layers */
/* zoomed out: 1920 x 1080 */

.bg-wrapper,
.bg-island,
.wrapper {
	background-size: 1920px 1080px;
	background-position: center;
	background-size: cover;
}

body {
	position: relative;
	overflow:hidden;
	display: flex;
    justify-content: center;
}

#cloud-1 {
	background-image: url("../img/cloud-left.svg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: left;
	position: absolute;
	right:0;
	top:0;
	left:0;
	height: 100%;
	pointer-events: none;
	transition: background-position linear 2s;
}

#cloud-1.reveal {
	background-position: -400vw;
	transition: background-position linear 2s;
}

#cloud-2 {
	background-image: url("../img/cloud-right.svg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right;
	position: absolute;
	right:0;
	top:0;
	left:0;
	height: 100%;
	pointer-events: none;
	transition: background-position linear 2s;
}

#cloud-2.reveal {
	background-position: 400vw;
	transition: background-position linear 2s;
}

#cloud-1.hidden, #cloud-2.hidden {
	display: none;
}

#bg-water {
	background-image: url('../img/bg-water.svg');
	width: 7680px;
	height: 4320px;
	background-position: center; 
	margin-left: -3840px;
    left: 50%;
    margin-top: -2160px;
    top: 50%;
}


html:before {
	background-image: url('../img/bg-pixels.svg');
	background-size: 1920px 1080px;
	background-position: center;
	background-size: cover;
	content:"";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: .5;
	z-index: -1;
}

#wrapper {	
	position: absolute;
	/*transform: translateX(calc(50vw - 50%)) translateY(calc(50vh - 50%)); /* Center the wrapper within the body */
	flex-shrink: 0;
    align-self: center;
}

#scroll-path { /* zoom is controlled on the #scroll-path div */
	transform:scale(1) translateY(0);
	transform-origin: center left;
	transition: transform ease .75s;
}

#scroll-path.zoom {
	transform:scale(.5);
	transform-origin: center left;
	transition: transform ease-out .75s;
}

#scroll-path div {
	transition: height width ease 4s;

}


#island,
#zone-anim,
#water-anim,
#scroll-path  {
	background-repeat: no-repeat;
}

#zone-anim svg,
#water-anim svg {
	position: absolute;
}

.scroll-path {
	position: relative;
}

#island {
	background-image: url('../img/bg-island.svg');
}

canvas {
	/*z-index: 0 !important;*/
}
#zone-anim, #water-anim {
	position: absolute;
    
}

.scroll-path > div {
	position: absolute;
} 

/*------------*/
/* Navigation */
/*------------*/

nav {
    position: fixed;
    text-align: center;
    bottom: 0;
    right: 0;
    left:0;
    padding:30px 20px;
	background-color:#FFD255;
	padding: 15px;
	height:19px;
}

nav a {
	display: inline-block;
	text-decoration: none;
	color:#474747 !important;
	margin: 0 10px;
	font-weight: 900;
}

#compass {
	height:200px;
	width:200px;
	border-radius: 200px;
	background-image: url("../img/compas-bg.svg");
	background-size: 200px 200px;
	background-position: center;
	background-color: rgba(177,224,237, .8);
	position: absolute;
	left:30px;
	bottom:80px;
}

#compass:after {
	content:"";
	height:200px;
	width:200px;
	display: block;
	position: absolute;
	left:0;
	background-image: url("../img/compas-arrow.svg");
	background-size: 200px 200px;
	background-position: center;
	transform:rotate(30deg);
	transition: transform 1s ease-out;
}

#compass.spin:after {
	transform:rotate(1720deg);
	transition: transform 2s ease-out;
}

/*----------------------*/
/* Zone Content Overlay */
/*----------------------*/

.zone-wrapper {
	padding:30px 20px;
	background-color:rgba(255,255,255,.9);
	border-radius: 20px;
	text-align: center;
	-moz-box-shadow: 8px 10px rgba(0,0,0,.4);
	-webkit-box-shadow: 8px 10px rgba(0,0,0,.4);
	box-shadow: 8px 10px rgba(0,0,0,.4);
}

/*Hover controls*/

#qr-yoda{
	opacity:0;
	transition: opacity .2s ease;
}

#qr-yoda:hover {
	opacity:1;
	transition: opacity .2s ease;
}

.scroll-path div {
	pointer-events: none;
}

.scroll-path .active-zone > svg > g {
	pointer-events: auto;
	cursor: pointer;
}
.scroll-path .active-zone > svg > g:hover {
	outline:solid 0px #fff;
}
}
