/*------------*/
/* Compass    */
/*------------*/

#compass {
	height:200px;
	width:200px;
	border-radius: 200px;
	background-image: url("/img/compass-bg.svg");
	background-size: 200px 200px;
	background-position: center;
	position: fixed;
	right:30px;
	bottom:30px;
}

#compass.back * {
	cursor: pointer;
	font-family: 'Lato', sans-serif;
	font-weight: 900;
}

#compass:after {
	content:"";
	height:200px;
	width:200px;
	display: block;
	position: absolute;
	left:0;
	background-image: url("/img/compass-arrow.svg");
	background-size: 200px 200px;
	background-position: center;
	transform:rotate(30deg);
	transition: transform 1s ease-out;
}

#compass.spin:after {
	transform:rotate(1440deg);
	transition: transform 2s ease-out;
}

#compass:before {
	content:"";
	height:200px;
	width:200px;
	display: block;
	position: absolute;
	cursor: pointer;
	left:0;
	opacity:0;
	content: "";
	background-image: url("/img/compass-back-btn.svg");
	background-size: 200px 200px;
	background-position: center;
	z-index: 10000;
}

#compass.back:before {
	opacity:1;
}
