body {
	font-family: 'Lato', sans-serif;
	color:#434345;
}

.epic-quest .hero{
	margin-left:-15px;
	width:100vw;
	max-width: initial;
}

.epic-quest #join-us {
	color:white;
	background-color: #434345;
}

h1, h2, h3, h4, h5 {
	font-weight: bold;
	text-transform: uppercase;
}

.red-text, h4 span {
	color:#c50f3c;
}

hr {
	border:none;
	border-bottom: 1px solid #898989;
	margin:60px 0;
}

.giant-button {
	padding:10px 30px;
	margin-top: 30px;
	display: inline-block;
	font-size:30px;
	font-weight: bold;
	background-color: white;
	color:#434345;
	box-shadow: 10px 10px 0 rgba(0,0,0,.3);
	cursor: pointer;
}

.giant-button:hover, .giant-button:focus {
	color:#434345;
	text-decoration: none;
	box-shadow: 12px 12px 0 rgba(0,0,0,.3);
}

.icon {
	height: 60px;
	margin-bottom: 10px;
}

.card-icon img {
	box-shadow: 6px 6px 0 #d1d3d4;
	margin-bottom: 30px;
}

.card-icon img:hover {
	box-shadow: 8px 8px 0 #d1d3d4;
}

.gray-bottom .top {
	fill: white;
}

.gray-bottom .bottom {
	fill: #434345; 
}

.gray-top .top {
	fill: #434345; 
}

.gray-top .bottom {
	fill: white;
}

#get-started {
	background-color: #c50f3c;
	color:white !important;
}

#resources {
	background-color: #e6e7e8;
}

.light-gray-top .top {
	fill: #e6e7e8; 
}

.light-gray-top .bottom {
	fill: white;
}

.big-footer-text {
	color: #bcbec0;
	margin-bottom: 40px;
}

.big-footer-text .good-luck {
	width:70%;
	display: block;
	margin-bottom: 15px;
	margin-top: 60px;
}

.epic-ship {
	width:30%;
	display: block;
	margin:-15% 0 30px auto;
	text-align: right;
}

footer {
	background-color:#FFD255;
	padding-bottom:10px;
	text-align: center;
	margin-top: 60px;
}

footer .row  div {
	font-size: 20px;
	font-weight: 900;
}

footer .copyright {
	text-align: center;
	padding-top: 40px;
}

#back-compass {
	background-image: url('/img/compass-back-mini.svg');
	background-repeat: no-repeat;
	background-size: contain;
    width: 70px;
    height: 76px;
    position: fixed;
    bottom: 9px;
    right: 15px;
}

@media (max-width: 1340px) {
	#back-compass {
		display:none;
	}
}

/* Modal styling */

.epic-quest .modal-dialog {
	max-width:inherit;
}

.epic-quest .modal-content {
	width: auto;
    margin: 0 auto;
}

.epic-quest .modal-header {
	height:30px;
}

.epic-quest .modal-header .close {
	background-color: #fff;
	z-index: 30000;
}