body, html {
	margin:0;
}

body {
	background-color: #D0F0EF;
	color:#474747;
	font-size: 18px;
	font-weight: 300;
	font-family: 'Lato', sans-serif;
	position: relative;
}

/* Fonts */
h1,h2,h3,h4,h5,strong {
	font-weight: 900;
	margin:0;
	margin-bottom:14px;
}

h1 {
	font-size: 40px;
}

h2 {
	font-size: 30px;
	padding-bottom: 13px;
}

h3 {
	font-size: 22px;
}

h4 {
	font-size: 20px;
}

p {
	padding-bottom: 8px;
	margin:0;
}

a {
	text-decoration: none;
}

blockquote {
	font-size: 36px;
	text-align: center;
	margin:40px 0;
	border:none;
}

ol {
	list-style: none;
	counter-reset: item;
 }

ol li {
	margin-bottom: 20px;
	counter-increment: item;
 }

ol li:before {
	margin-left: -42px;
    content: counter(item);
    background: #FFD255;
    font-weight: 900;
    border-radius: 100%;
    width: 36px;
    height: 36px;
    padding-top: 15px;
    font-size: 23px;
    line-height: 9px;
    text-align: center;
    display: inline-block;
 }

ul.triangle {
    padding: 0 1em;
    list-style: none;
}
ul.triangle li:before { 
	content: "";
    border-color: transparent #FFD255;
    border-style: solid;
    border-width: 10px 0 10px 14px;
    display: block;
    height: 0;
    width: 0;
    left: -20px;
    top: 23px;
    position: relative;
}

#back-compass {
	background-image: url('../img/compass-back-mini.svg');
	background-repeat: no-repeat;
	background-size: contain;
    width: 70px;
    height: 76px;
    position: fixed;
    bottom: 9px;
    right: 15px;
}

@media (max-width: 1340px) {
	#back-compass {
		display:none;
	}
}

/* buttons */

textarea, select, input, button { outline: none; }


.block-highlight {
	background-color:#FFD255;
	color:#474747;
	font-weight: 900;
	padding: 8px 20px;
	margin-top:0;
	position: relative;
	margin-bottom: 16px;
	cursor: pointer;
	border:none;
}

.block-highlight:before{
	content:"";
	width:16px;
	height: 16px;
	background-color:#FFD255;
	position: absolute;
	display: block;
	bottom:-8px;
	right: -8px;
}

.block-highlight:after {
	content:"";
	width:8px;
	height: 8px;
	background-color:#FFD255;
	position: absolute;
	display: block;
	bottom:-12px;
	left: 0;
}

/* Color Classes */

.light-bg {
	background-color: #E1F5F4;
}

.yellow-bg {
	background-color:#FFD255;
}

/*--------------------*/
/* Secondary Template */
/*--------------------*/

.secondary-template header {
	height:400px;
}

.full-width {
	padding-top: 30px;
	padding-bottom: 30px;
	margin-top:20px;
	margin-bottom: 20px;
	width: 100vw;
    margin-left: 50%;
    transform: translateX(-50%);
}

header .container {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom center;
}

@media (min-width: 1200px) {
		header .container {
		background-size: 900px;
	}
}

@media (max-width: 768px) {
	header .container {
		margin-right: -15px;
		margin-left: -15px;
	}
}

header .heading-cloud-wrapper {
    height: 400px;
    position: relative;
}

header h1 {
	background-image: url('../img/h1-cloud-highlight.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	display: block;
	padding:20px 60px 30px 190px;
	position: absolute;
	right: 60px;
	bottom:30px;
	z-index: 1000;
	margin-left:-190px;
}

.secondary-template h2 {
	background-color: #FFD255;
	padding:10px 8px 0 20px;
	display:table;
	margin-bottom: 30px;
	position: relative;
}

.secondary-template h2:before {
	content: '';
	background-color: #FFD255;
	width:20px;
	height:30px;
	position: absolute;
	right:-25px;
	bottom: -15px;
}

.secondary-template h2:after {
	content: '';
    background-color: #FFD255;
    width: 22px;
    height: 28px;
    position: absolute;
    left: -13px;
    top: -8px;
}

.secondary-template section {
	margin-bottom:80px;
	padding-top:60px;
	padding-bottom: 60px;
	position: relative;
}


.secondary-template .bug {
	height:40px;
	width: auto;
	float:right;
}

footer {
	background-color:#FFD255;
	padding-bottom:10px;
	text-align: center;
	margin-top: 60px;
	margin-left: -15px;
    margin-right: -15px;
}

footer .row  div {
	font-size: 20px;
	font-weight: 900;
}

footer .copyright {
	text-align: center;
	padding-top: 40px;
}

/*-----------------------*/
/* Page Specific Styling */
/*-----------------------*/

/* Podcast Alley */


.podcast-alley header .container {
	background-image: url('../img/podcast-alley-header.svg');
}

.podcast-alley .vimeo-embed {
	display: block;
	margin:30px auto;
	max-width: 100%;
}

@media (min-width: 700px) {
	.podcast-alley .audio-quote{
		padding:0 40px;
	}
}

.podcast-alley .audio-quote button {
	margin: 0 auto;
    display: table;
    margin-bottom: 30px;
}

.podcast-alley .audio-block {
	margin:20px auto;
	display: table;
}

.in-podcast-wrapper {
	background-image: url('../img/in-podcast-bg.svg');
	background-repeat: no-repeat;
	background-size: cover;
}

.in-podcast-wrapper img {
	width:200px;
	height: auto;
	display: block;
	margin: 0 auto;
}

.podcast-alley .lg-link {
	text-align: center;
	font-weight: 900;
	font-size: 30px;
	color:#474747;
	display: block;
	padding:20px;
}

.podcast-alley .lg-link:hover,
.podcast-alley .lg-link:focus,
.podcast-alley .lg-link:active { 
	text-decoration: none;
	color:#474747;
}

.podcast-alley #create-own .full-width {
	margin-bottom: 0;
}

#advice .pros {
    margin-bottom: 30px;
}

.podcast-alley .podcast-guide {
	height:600px;
	max-height: 80vh;
	width: auto;
	display: block;
	margin:40px auto;
}

.podcast-alley .dark-bg {
	background-color: #8E9E9E;
}

.headshot-bg {
	background-color:#FFD255;
	text-align: center;
	background-image: url('../img/headshot-bottom-bg.svg');
	background-position: bottom;
	background-size: contain;
	background-repeat: no-repeat;
	padding:30px 20px 10px 20px;
}

.headshot-bg img {
	width: 75%;
	height:auto;
	display: block;
	margin:15px auto;
}

/* QR Castle */

.qr-castle header .container {
	background-image: url('../img/qr-castle-hero.svg');
}

#qr-at-gilead h3{
	margin:80px 0 20px 0;
	text-align: center;
}

.qr-castle #welcome {
	margin-bottom: 0;
}

.qr-castle .qr-example {
	max-width:200px;
	height:auto;
	display: block;
	margin:20px auto;
}

.qr-castle #create-own h3 {
	text-align: center;
	padding:12px 0;
	margin: 20px 0 40px 0;
}

.qr-castle .example-spacer {
	height:60px;
}

/* News */

.news header .container {
	background-image: url('../img/news-header.svg');
}

.news-item img {
	max-width: 100%;
}


/* Visitor Info */

.visitor-info header .container {
	background-image: url('../img/visitor-info.svg');
}

#digital-champions .full-width {
    text-align: center;
    background-color: #FFD255;
    margin-top: 40px;
}
#digital-champions .full-width h3 {
    font-size: 28px;
}

#digital-champions .champion-names {
	background-color: #FFD255;
	text-align: center;
	padding:30px 5px;
	word-break: break-word;
}

/* Drive-In*/

.drive-in header .container {
	background-image: url('../img/drive-in-hero.svg');
}

.embed-responsive {
	margin-bottom: 30px;
}

.margin-top-md {
	margin-top: 60px;
}

.yellow-video-block {
	background-color:#FFD255;
	padding:30px 20px 30px 20px;
	text-align: center;
}

.yellow-video-block-img {
	width:100%;
	height: auto;
}

/* Library */

.library header .container {
	background-image: url('../img/library-hero.svg');
}
