body, html {
	margin:0;
}

body {
	background: url('../img/header-water-sprinks.svg') top center #CEEEED no-repeat;
	color:#474747;
	font-size: 16px;
	font-weight: 400;
	font-family: 'Lato', sans-serif;
	position: relative;
}

/* Fonts */
h1,h2,h3,h4,h5,strong {
	font-weight: 900;
	margin:0;
	margin-bottom:14px;
}

h1 {
	font-size: 40px;
}

h2 {
	font-size: 30px;
	padding-bottom: 13px;
}

h3 {
	font-size: 22px;
}

h4 {
	font-size: 20px;
}

p {
	padding-bottom: 8px;
	margin:0;
}

a {
	text-decoration: none;
}

blockquote {
	font-size: 36px;
	text-align: center;
	margin:40px 0;
	border:none;
}

ol {
	list-style: none;
	counter-reset: item;
 }

ol li {
	margin-bottom: 20px;
	counter-increment: item;
 }

ol li:before {
	margin-left: -42px;
    content: counter(item);
    background: #FFD255;
    font-weight: 900;
    border-radius: 100%;
    width: 36px;
    height: 36px;
    padding-top: 14px;
    font-size: 23px;
    line-height: 6px;
    text-align: center;
    display: inline-block;
    margin-right: 6px;
 }

 .row ol {
  padding-left: 3.2em;
 }

ul.triangle {
    padding: 0 2em;
    list-style: none;
}
ul.triangle li:before { 
	content: "";
    border-color: transparent #FFD255;
    border-style: solid;
    border-width: 10px 0 10px 14px;
    display: block;
    height: 0;
    width: 0;
    left: -20px;
    top: 23px;
    position: relative;
}

#back-compass {
  width: 125px;
  height: 125px;
  position: fixed;
  bottom: 40px;
  right: 70px;
}

@media (max-width: 1340px) {
	#back-compass {
		display:none;
	}
}

/* buttons */

textarea, select, input, button { outline: none; }


.block-highlight {
	background-color:#FFD255;
	color:#474747;
	font-weight: 900;
	padding: 8px 20px;
	margin-top:0;
	position: relative;
	margin-bottom: 16px;
	cursor: pointer;
	border:none;
}

.block-highlight:before{
	content:"";
	width:16px;
	height: 16px;
	background-color:#FFD255;
	position: absolute;
	display: block;
	bottom:-8px;
	right: -8px;
}

.block-highlight:after {
	content:"";
	width:8px;
	height: 8px;
	background-color:#FFD255;
	position: absolute;
	display: block;
	bottom:-12px;
	left: 0;
}

/* Color Classes */

.light-bg {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.4) 6.25%);
}

.yellow-bg {
	background-color:#FFD255;
}

/*--------------------*/
/* Secondary Template */
/*--------------------*/

.secondary-template header {
  height: 75vh;
	position: relative;
	width: 100%;
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-position: top 5vh center;

	/* override the padding for the bootstrap layout */
	padding-left: 0;
	padding-right: 0;
}

@media (max-height: 700px) {
  .secondary-template header {
    background-size: auto 85%;
    height: 100vh;
  }
}

.full-width {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top:20px;
  margin-bottom: 20px;
  width: 100vw;
  margin-left: 50%;
  transform: translateX(-50%);
}

header .heading-cloud-wrapper {
	display: flex;
	position: absolute;
  right: -105px;
  bottom: 0;
	width: 437px;
	height: 156px;
	justify-content: center;
	align-items: center;
}

@media (min-width: 700px) {
  header .heading-cloud-wrapper {
    right: calc(10vw - 85px);
    bottom: 30px;
  }
}

header .heading-cloud-wrapper h1 {
	position: relative;
	font-size: 38px;
  line-height: 46px;
	background-color: #FFD255;
	padding: 20px;
	z-index: 2;
	margin-left: -140px;
}

.secondary-template .cloud {
  position: absolute;
  width: 307.17px;
  height: 112.02px;
  border-radius: 80px;
  background: #F5FFFE;
  z-index: 1;
}

.secondary-template .cloud.cloud--small {
  width: 250px;
  height: 90px;
}

header .heading__down-tag {
  position: absolute;
  left: 15px;
  top: 100%;
  margin-top: 5px;
  height: 100px;
  width: 50px;
  background: url('../img/header-down-tag.svg') transparent left top no-repeat;
}

.header-fade {
  position: absolute;
  width: 100%;
  height: 35vh;
  background: transparent url('../img/header-fade.svg') no-repeat top center;
  background-size: cover;
  bottom: 0;
}


.secondary-template section,
.secondary-template .section  {
	padding-top: 50px;
}

.secondary-template section + section,
.secondary-template .section + .section  {
	margin-left: -0.75rem;
	margin-right: -0.75rem;
	padding-bottom: 100px;
	position: relative;
}

.secondary-template section,
.secondary-template .section {
	padding-bottom: 60px;
}

.secondary-template section:last-child,
.secondary-template .section:last-child {
	padding-bottom: 30px;
}

.secondary-template .bug-container {
  width: 146.61px;
  position: relative;
	float:right;
	height: 87px;
}
.secondary-template .bug {
  width: 75px;
  height: 75px;
  background: #FFD255;
  border-radius: 10px;
	display: flex;
	align-items: center;
  justify-content: center;
  position: absolute;
  left: 48px;
  top: 12px;
  z-index: 2;
}
.secondary-template .bug .icon {
  width: 50px;
  height: 45px;
}

footer {
	background: url('../img/footer-water-sprinks.svg') top center #FFD255 no-repeat;
	height: 148px;
	font-size: 20px;
}

/*-----------------------*/
/* Page Specific Styling */
/*-----------------------*/

/* Podcast Alley */


.podcast-alley header {
	background-image: url('../img/podcast-alley-header.svg');
	background-position: top 7.5vh center;
}

.podcast-alley .vimeo-embed {
	display: block;
	margin:30px auto;
	max-width: 100%;
}

@media (min-width: 700px) {
	.podcast-alley .audio-quote{
		padding:0 40px;
	}
}

.podcast-alley .audio-quote button {
	margin: 0 auto;
    display: table;
    margin-bottom: 30px;
}

.podcast-alley .audio-block {
	margin:20px auto;
	display: table;
}

.in-podcast-wrapper {
	background-image: url('../img/in-podcast-bg.svg');
	background-repeat: no-repeat;
	background-size: cover;
}

.in-podcast-wrapper img {
	width:200px;
	height: auto;
	display: block;
	margin: 0 auto;
}

.podcast-alley .lg-link {
	text-align: center;
	font-weight: 900;
	font-size: 30px;
	color:#474747;
	display: block;
	padding:20px;
}

.podcast-alley .lg-link:hover,
.podcast-alley .lg-link:focus,
.podcast-alley .lg-link:active { 
	text-decoration: none;
	color:#474747;
}

.podcast-alley #create-own .full-width {
	margin-bottom: 0;
}

#advice .pros {
  margin-bottom: 30px;
  padding: 0 26px;
}

.podcast-alley .podcast-guide {
	height:600px;
	max-height: 80vh;
	width: auto;
	display: block;
	margin:40px auto;
}

.podcast-alley .dark-bg {
	background-color: #8E9E9E;
}

/* QR Castle */

.qr-castle header {
	background-image: url('../img/qr-castle-header.svg');
}

#qr-at-gilead h3{
	margin:80px 0 20px 0;
	text-align: center;
}

.qr-castle #welcome {
	margin-bottom: 0;
}

.qr-castle .qr-example {
	max-width:200px;
	height:auto;
	display: block;
	margin:20px auto;
}

.qr-castle #create-own h3 {
	text-align: center;
	padding:12px 0;
	margin: 20px 0 40px 0;
}

.qr-castle .example-spacer {
	height:60px;
}

/* News */

.news header {
	background-image: url('../img/news-header.svg');
}

.news-item img {
	max-width: 100%;
}


/* Visitor Info */

.visitor-info header {
	background-image: url('../img/visitor-info-header.svg');
}

#digital-champions .full-width {
    text-align: center;
    background-color: #FFD255;
    margin-top: 40px;
}
#digital-champions .full-width h3 {
    font-size: 28px;
}

#digital-champions .champion-names {
	background-color: #FFD255;
	text-align: center;
	padding:30px 5px;
	word-break: break-word;
}

/* Drive-In*/

.drive-in header {
	background-image: url('../img/drive-innovation-header.svg');
}

.drive-in .ratio {
  margin-bottom: 30px;
}

@media (max-width: 576px) {
  .ratio {
    margin-bottom: 30px;
  }
}

.margin-top-md {
	margin-top: 60px;
}

.yellow-video-block {
	background-color:#FFD255;
	padding:30px 20px 30px 20px;
	text-align: center;
}

.yellow-video-block-img {
	width:100%;
	height: auto;
}

/* Library */

.library header {
	background-image: url('../img/digital-library-header.svg');
}

#library-halo * {
	display: contents;
}

/* Newsletter */
.newsletter header {
	background-image: url('../img/newsletter-depot-header.svg');
}

.newsletter .templates img{
	width:100%;
	border-radius: 5px 5px 0 0;
	box-shadow: 5px 0 0 rgba(0,0,0,.3);
	position: relative;
	margin-top:-5px;
}

.newsletter .templates a:before {
	content:"";
	background-color: #CCCCCC;
	position: absolute;
	top:-10px;
	height:10px;
	width:90%;
	margin-left:2.5%;
}
.newsletter .templates a:after {
	content:"";
	background-image: url(../img/template-overlay.svg);
	background-size: contain;
	background-position: bottom center;
	background-repeat: no-repeat;
	width:calc(100% - 30px);
	height: 100%;
	display: block;
	position: absolute;
	bottom: 0;
}

.newsletter .block-highlight {
  display: block;
  width: 300px;
  text-align: center;
  margin: 12px auto;
}

.wood-background {
	background-color: #a38061;
	background-image: url('/img/woodgrain.svg');
	background-repeat: repeat-y;
	background-size: cover;
	padding: 40px 20px 0 20px;
	width:100%;
	border-top:6px solid #dda96b;
	border-bottom:6px solid #dda96b;
}

/*Digital Adivsory Board*/
h4.left-arrow {
	padding-left: 30px;
	background-image: url('/img/left-arrow.svg');
	background-repeat: no-repeat;
	background-size: 40px auto;
}

.digital-advisory-board-lab header {
	background-image: url('../img/dab-header.svg');
	background-position: top 7.5vh center;
}

/*Metrics Outpost*/

.metrics-outpost header {
	background-image: url('../img/metrics-outpost-header.svg');
	background-position: top 7.5vh center;
}

.metrics-outpost .section:last-child {
  background: url('../img/bg-metrics-end.svg') no-repeat;
  background-position: left 30vw top 100px;
}

.video-container {
  margin-top: 40px;
  margin-bottom: 40px;
}
