.advicer-message {
  margin-top: 20px;
  line-height: 24px;

  h3 {
    font-size: 20px;
    font-weight: 900;
    margin: 0;
  }
  .nav-pills .nav-link {
    font-size: 20px;
    margin: 4px auto;
    font-weight: 900;
    border-radius: 100px;
  }
  .nav-pills .nav-link {
    background-color: #FFD255;
    color: #515151;
  }
  .nav-pills .nav-link:hover,
  .nav-pills .nav-link.active {
    background-color: #515151;
    color: #FFD255;
  }

  .tab-content {
    margin-top: 16px;
    min-height: 164px; // 6 lines ~ 220 characters
  }

  .headshot__text {
    background-color:#FFD255;
    text-align: center;
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    padding:30px 20px 10px 20px;
    padding-bottom: 60px;
    margin-bottom: -60px;
    position: relative;
  }

  .headshot__image {
    margin-bottom: 10px;
    img {
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      width: 75%;
      height:auto;
      display: block;
      margin:15px auto;
    }
  }

}
