
#islandWrapper {
	 /* formerly set on the body tag */
	height: 100vh;
	width: 100vw;
	background-image: url('/img/bg-water.svg');
	background-position: center; 
	background-size: cover;
	display: flex;
	justify-content: center;
	flex-direction: column;
	overflow:hidden;

	&:before { /* formerly set on the body tag */
		background-image: url('/img/bg-pixels.svg');
		background-size: 1920px 1080px;
		background-position: center;
		background-size: cover;
		content:"";
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		opacity: .3;
	}

	/* Zoom and position control */
	#flexWrapper {	
	    width:100vw;
	    flex: 1;
	    align-self: start;
	}

	#zoomControl {
		transition: transform ease .75s;
		position: fixed;
		top:50%;
		left:50%;
		transform: translate(-50%, -50%);
		transform-origin: top left;
		& > div {
			position: absolute;
			pointer-events: none;
			width:100%;
			height:100%;
			background-size: cover;
		    background-position: center;
		    background-repeat: no-repeat;
		} 
		.active-zone svg > g {
			pointer-events: auto;
			cursor: pointer;
		}
		&.zoomed-in .active-zone svg > g {
			pointer-events: none;
		}
		/* Static background images */
		#island {
			background-image: url('/img/bg-island.svg');
		}

		#trees {
			background-image: url('/img/trees.svg');
		}

		#path-around {
			background-image: url('/img/path-around.svg');
		}

		#path-above {
			background-image: url('/img/path-above.svg');
		}
	}

	/* Hover controls */
	#qr-yoda, #ghost{
		opacity:0;
		transition: opacity .2s ease;
		pointer-events: auto !important;
		&:hover {
			opacity:1;
			transition: opacity .2s ease;
		}
	}
	.outlineHover {
		opacity:0;
		transition: opacity .2s ease;
	}

	svg:hover .outlineHover {
		opacity:1;
		transition: opacity .2s ease;
	}

	.active-zone {
		#PodcastAlley-Halo,
		#airship-halo,
		#qr-halo,
		#lighthouse-halo,
		#drivein-halo,
		#libraryhalo,
		#hubship-halo,
		#newsletterdepot-halo-old {
			opacity:0;
			transition: opacity .2s ease;
			pointer-events: auto !important;
		}
		svg > g:hover {
			#PodcastAlley-Halo,
			#airship-halo,
			#qr-halo,
			#lighthouse-halo,
			#drivein-halo,
			#libraryhalo,
			#hubship-halo,
			#newsletterdepot-halo-old {
				opacity:1;
				transition: opacity .2s ease;
			}
		}
	}

	/* Cloud control */
	.cloud {
		background-repeat: no-repeat;
		background-size: cover;
		position: absolute;
		right:0;
		top:0;
		left:0;
		height: 100%;
		pointer-events: none;
		opacity: 1;
		z-index: 1000;
		&.left {
			background-image: url("/img/cloud-left.svg");
			background-position: left;
			&.reveal {
				background-position-x: -400vw; /*for safari*/
				background-position: -400vw;
				opacity:1;
				transition: all ease-in 2s;
			}
		}
		&.right {
			background-image: url("/img/cloud-right.svg");
			background-position: right;
			&.reveal {
				background-position-x: 400vw; /*for safari*/
				background-position: 400vw;
				opacity:1;
				transition: all ease-in 2s;
			}
		}
		&.hidden {
			display: none;
		}
	}

	#loading {
		width:150px;
		height: 150px;
		position: fixed;
		left: 50%;
		top: 50%;
		margin-top: -75px;
		margin-left: -75px;
		z-index: 1001;
		&.hidden {
			display:none;
		}
	}

	/* Zone Info Wrapper */
	.info-wrapper {
		.button {
			position: absolute;
		    top:auto;
		    left: 50%;
		    font-size: 30px;
		    margin-left: -69px;
		    &,
			&:after,
			&:before {
				box-shadow: 5px 5px 0 #7F5F5D;
				text-decoration: none;
				color:#474747;
			}
		}
		> div {
			display: block;
		    text-align: left;
		    position: relative;
		    padding: 30px 260px;
		    background-color: #fff;
		    border-bottom: 6px solid #FFD255;
		    opacity:1;
			transition:opacity ease .5s;
			font-size: 28px;
			margin-bottom:50px;
			&:after {
				content: "";
			    display: block;
			    background-image: url("/img/cloud-decoration.svg");
			    background-size: contain;
			    background-repeat: no-repeat;
			    height: 80px;
			    width: 130px;
			    position: absolute;
			    top: -20px;
			    left: 20px;
			}
			&:before {
				content: "";
			    display: block;
			    background-image: url("/img/cloud-decoration.svg");
			    background-size: contain;
			    background-repeat: no-repeat;
			    height: 80px;
			    width: 130px;
			    position: absolute;
			    bottom: -20px;
			    right: 180px;
			    transform: rotate(180deg);
			}
			&.hidden {
				display: none;
				opacity:0;
				transition:opacity ease .5s;
			}
		}
	}

	/* IE Notice */
	#ie-notice {
		position: fixed;
	    top: 0;
	    padding: 6px;
	    color: #fff;
	    background-color: #F15723;
	    left: 0;
	    right: 0;
	    text-align: center;
	    font-size: 14px;
	    display: none;
	}

	@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
		#ie-notice {
			display:block;
		}
	}

	/* Audio Control */ 
	#play-mute {
		position: fixed;
		cursor: pointer;
		bottom:192px;
		right:35px;
		height:30px;
		width:30px;
		background-repeat: no-repeat;
		background-size: contain;
		z-index: 100;
		background-image: url('/img/mute.svg');
		&.play {
			background-image: url('/img/play.svg');
		}
	}

}