.animated-header {
  margin-top: 8px; // lilcube overflow
  margin-bottom: 80px;

  h4 {
    background-color: #FFD255;
    padding: 15px 30px;
    display:table;
    margin-bottom: 30px;
    position: relative;
  }
}

